{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <div class="container">

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h1 class=" border-gray pb-2 mb-0 text-center">Cambiar contraseña</h1>

    </div>

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" value="Cambiar contraseña" />
</div>
{{ form_end(form) }}

    </div>
    {% include 'footer.html.twig' %}
{% endblock %}