{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h1 class="border-bottom border-gray pb-2 mb-0 text-center">Editar pregunta</h1>

        <div class="my-4">



    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Editar</button>





            <a class="btn btn-secondary" href="{{ path('questionary.show', {id: questionary.id}) }}">
                <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
                Volver al cuestionario
            </a>
        </div>
    </div>

    {{ form_end(form) }}

</div>
    {% include 'footer.html.twig' %}
{% endblock %}
