{% extends 'base.html.twig' %}


{% block body %}

    <h1>Estadísticas </h1>



    <div>
        <a class="btn btn-default" href="{{ path('questionary.list') }}">
            <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
            Volver al menú
        </a>
    </div>

{% endblock %}