{% extends 'base.html.twig' %}


{% block body %}

    <h1>Estadísticas </h1>

    <script src="/bundles/mukadichartjs/jquery.js"></script>
    <script src="/bundles/mukadichartjs/Chart.bundle.min.js"></script>
    <script src="/bundles/mukadichartjs/mukadi.chart.min.js"></script>

    {{ mukadi_chart(chart) }}

    <div>
        <a class="btn btn-default" href="{{ path('questionary.list') }}">
            <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
            Volver al menú
        </a>
    </div>

{% endblock %}