
<footer class="footer mt-auto py-3">
    <div class="container-fluid">
        <span class="text-muted">Creado por Alejandro Arroyo Ruiz. Dirigido por Jose Manuel Soto y Sergio Gómez</span>
    </div>
</footer>