{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creación de cuestionario.</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>

        <a class="btn btn-default" href="{{ path('questionary.list') }}">
            <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
            Volver al menú
        </a>
    </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
