{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cuestionario edit</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Editar</button>

            <a class="btn btn-secondary" href="{{ path('questionary.show', {id: questionary.id}) }}">
                <span class="glyphicon glyphicon-menu-left"aria-hidden="true"></span>
                Volver al cuestionario
            </a>
        </div>
    </div>

    {{ form_end(form) }}

    {% include 'footer.html.twig' %}
{% endblock %}
